@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Plus Jakarsa Sans", sans-serif;
}
